@charset "UTF-8";

h1{
	text-align: center;
	color:#ff6633;}
p{
	text-align: center;
}
#all{
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 500px;
	border: 1px solid #333333;
	border-radius: 10px;
	text-align: center;
}
.input{
	width:70px;
	text-align: right;
}
.foods, #result{
	margin-right: auto;
	margin-left: auto;
}
#add, #rem{
	border-bottom: 1px solid blue;
	color: blue;
	cursor: pointer;
}
#rem{
	margin-left: 10px;
	
}
#btn{
	margin-top: 15px;
	text-align: center;
}